{{ 'customer-auth.css' | asset_url | stylesheet_tag }}
<div class="section-x-padding py-theme max-w-lg mx-auto wiertla-auth" x-data="BaselineLogin()" x-init="mounted()" data-color-scheme="primary">
  <div :class="{'hidden': state !== 'login'}">
    {% form 'customer_login', data-login-focus: true, tabindex: '-1' %}
      <div class="w-card">
      <h1 class="font-heading text-2xl mb-2" data-translate="customer.login.title">Zaloguj się</h1>

      {% if form.errors %}
        <div class="mt-4" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
      {% endif %}

      <div class="form-field">
        <label for="customer_email" data-translate="customer.login.email">Email</label>
        <input type="email"
              name="customer[email]"
              id="customer_email"
              class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'email' %}border-theme-color{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              {% unless form.errors %}autofocus{% endunless %}>
      </div>

      {% if form.password_needed %}
        <div class="form-field">
          <label for="customer_password" data-translate="customer.login.password">Hasło</label>
          <input type="password"
                name="customer[password]"
                id="customer_password"
                class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password' %}border-theme-color{% endif %}">
        </div>
      {% endif %}

      <div class="mt-4">
        <button type="submit" class="w-btn w-btn--primary" data-translate="customer.login.sign_in">Zaloguj się</button>
      </div>

      <div class="mt-8 md:flex md:justify-between">
        <div class="create-account">
          <a href="{{ routes.account_register_url }}" class="w-btn w-btn--outline">
            <span data-translate="layout.customer.create_account">Utwórz konto</span>
          </a>
        </div>

        {% if form.password_needed %}
          <div class="forgot-password">
            <a href="{{ routes.account_recover_url }}">
              <span data-translate="customer.login.forgot_password">Zapomniałeś hasła?</span>
              {% if settings.links_show_arrow %}&nbsp;&rarr;{% endif %}
            </a>
          </div>
        {% endif %}
      </div>
      </div>
    {% endform %}
  </div>

  <div :class="{'hidden': state !== 'recover'}" x-cloak>
    <div data-login-focus tabindex="-1">
      <div class="w-card">
      <h2 class="font-heading text-2xl mb-2" data-translate="customer.recover_password.title">Resetowanie hasła</h2>

      {% form 'recover_customer_password' %}
        {% if form.errors %}
          <div class="mt-4" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
        {% endif %}

        {% if form.posted_successfully? %}
          <p data-recover-success data-translate="customer.recover_password.success">Wysłaliśmy do Ciebie email z linkiem do resetowania hasła.</p>
        {% else %}
          <p data-translate="customer.recover_password.subtext">Wprowadź swój email, a my wyślemy Ci link do resetowania hasła.</p>
          <div class="form-field">
            <label for="recover_email" data-translate="customer.recover_password.email">Email</label>
            <input type="email"
                  class="w-full py-1 bg-transparent border-b-text border-current"
                  name="email"
                  id="recover_email"
                  spellcheck="false"
                  autocomplete="off"
                  autocapitalize="off">
          </div>
          <div class="mt-4">
            <input type="submit" class="w-btn w-btn--primary" value="Resetuj hasło" data-translate="customer.recover_password.submit">

            <a href="#" class="w-btn w-btn--outline" data-recover-cancel data-translate="customer.recover_password.cancel">Anuluj</a>
          </div>
        {% endif %}
      {% endform %}
      </div>
    </div>
  </div>

  {% if shop.checkout.guest_login %}
    <div class="mt-8 guest-checkout">
      <h2 data-translate="customer.login.guest_title">Kontynuuj jako gość</h2>

      <form method="post" action="{{ routes.account_login_url }}">
        <input type="hidden" name="checkout_url" value="{{ routes.root_url }}checkout">
        <input type="submit" class="w-btn w-btn--outline" value="Kontynuuj jako gość" data-translate="customer.login.guest_continue">
      </form>
    </div>
  {% endif %}
</div>
