{{ 'customer-auth.css' | asset_url | stylesheet_tag }}
<div class="section-x-padding py-theme max-w-md mx-auto wiertla-auth" x-data="BaselineLogin()" x-init="mounted()">
  <div class="w-card">
  <h1 class="font-heading text-2xl mb-2" data-translate="customer.register.title">Utwórz konto</h1>

  {%- assign register_form_id = 'RegisterForm' -%}
  {% form 'create_customer', id: register_form_id %}
    
    {% render 'form-status', form: form, form_id: register_form_id, section_color: 'primary' %}

    <div class="form-field">
      <label for="first_name" data-translate="customer.register.first_name">Imię</label>
      <input type="text"
        class="w-full py-1 bg-transparent border-b-text border-current"
        name="customer[first_name]"
        id="first_name"
        {% unless form.errors %}autofocus{% endunless %}
        {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
    </div>

    <div class="form-field">
      <label for="last_name" data-translate="customer.register.last_name">Nazwisko</label>
      <input type="text"
        class="w-full py-1 bg-transparent border-b-text border-current"
        name="customer[last_name]"
        id="last_name"
        {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
    </div>

    <div class="form-field">
      <label for="email" data-translate="customer.register.email">Email</label>
      <input type="email"
        name="customer[email]"
        id="email"
        class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'email' %}border-theme-color{% endif %}"
        value="{% if form.email %}{{ form.email }}{% endif %}"
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
        required>
    </div>

    <div class="form-field">
      <label for="password" data-translate="customer.register.password">Hasło</label>
      <input type="password"
        class="w-full py-1 bg-transparent border-b-text border-current {% if form.errors contains 'password' %}border-theme-color{% endif %}"
        name="customer[password]"
        id="password"
        required>
    </div>

    <div class="mt-4">
      <input type="submit" value="Utwórz konto" class="w-btn w-btn--primary" data-translate="customer.register.submit">
    </div>

    <div class="mt-8 md:flex md:justify-between">
      <div class="login-link">
        <a href="{{ routes.account_login_url }}" class="w-btn w-btn--outline">
          <span data-translate="customer.login.sign_in">Zaloguj się</span>
        </a>
      </div>
    </div>
  {% endform %}
  </div>
</div>
