{%- assign text = 'general.404.link' | t -%}

<div class="section-x-padding py-theme text-center bg-scheme-background text-scheme-text" data-color-scheme="primary">
  <div class="max-w-2xl mx-auto">
    <div class="w-card">
      <h1 class="font-heading {{ settings.template_heading_size }} mb-4">{{ 'general.404.title' | t }}</h1>
      <p class="mt-2 mb-6">{{ 'general.404.subtext' | t }}</p>
      <div>
        <a href="{{ routes.root_url }}" class="w-btn w-btn--primary w-btn--lg">{{ text }}</a>
      </div>
    </div>
  </div>
</div>
